/*div {
    width: 300px;
    border: 15px solid rgb(0, 0, 0);
    padding: 50px;
    margin: 20px;
    background-color: rgb(182, 245, 245);
  } 
*/

  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  img { 
    width: 250px;
    height: 250px;
  }
  


#one, #two {
    width: 200px;
    height: 200px;
}

#image-container {
    display: flex;
}

.hidden {
    display: none;
}